.event {
  margin: 26px 0;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #828282;
  border-radius: 16px;
  overflow: hidden;
}
.block__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 15%;
  z-index: 6;
  height: 35px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.block__label_blue {
  background-color: #099CE8;
}
.block__label_yellow {
  background-color: #FED74B;
}
.block__label_purple {
  background-color: #7553FF;
}

.ibg {
  position: relative;
  padding-bottom: 65%;
}
.ibg img {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 15px;
}
.info__duration {
  line-height: 20px;
}
.info__durationimg {
  margin-right: 7px;
  color: #C7C7C7;
  font-size: 16px;
  vertical-align: middle;
}
.info__durationtext {
  color: #9E9E9E;
  font-size: 12px;
  vertical-align: middle;
}
.info__title {
  font-weight: 700;
}
.info__advantagelist {
  list-style-image: url("../img/check-mark.svg");
}
.info__advantage {
  margin-left: 25px;
  margin-bottom: 10px;
}
.info__advantage span {
  position: relative;
  left: 15px;
}
.info__timesblock {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 7px;
  margin: 10px 0 0 15px;
}
.info__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 24px;
  border-radius: 12px;
  background-color: #D9E8FF;
  line-height: 24px;
}
.info__time:hover {
  background-color: #6BA6FF;
  color: #FFF;
}
.info__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.info__mainprice {
  font-size: 30px;
  line-height: 30px;
}
.info__otherprice {
  font-size: 10px;
}
.info__button {
  width: 165px;
  height: 44px;
  border: 1px solid #CBA500;
  border-radius: 20px;
  background-color: #FED74B;
}
.info__button:hover {
  background-color: #CBA500;
}