@media (min-width: 430px) {
    .ibg_b {
        padding-bottom: 50%;
    }
    .info {
        &__title {
            font-size: 20px;
        }
    }
}

@media (min-width: 700px) {
    .block {
        flex-direction: row;
        &__image {
            flex: 0 0 40%;
        }
        &__info {
            flex: 0 0 60%;
        }
    }
    .ibg_b {
        padding-bottom: 0;
    }
    .info {
        &__title {
            order: -1;
        }
    }
}

@media (min-width: 1070px) {
    .event {
        margin: 50px 0;
    }
    .info {
        &__title {
            font-size: 26px;
        }
    }
}